<section id="one" class="church_tiles">
	{% for page in site.pages limit:site.tiles-count %}
	{% if site.tiles-source == 'churchespage' %}
        <article>
                <span class="image">
                        <img src="{{ page.image }}" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ page.url | relative_url  }}" class="link">{{ page.title }}</a></h3>
                        <p>{{ page.description }}</p>
                </header>
        </article>
	{% endif %}
	{% endfor %}
</section>